div.blog{
    background-color: burlywood;
    margin:30px;
    padding:15px;
    box-shadow: 10px 10px 10px blue;
    width:25%;

}
div.blog h2{
    font-size:30px;
    color:azure;
}
div.blog p{
    color:blanchedalmond;
    font-size:15px;
}